body {
	margin: 0;
	display: flex;
	gap: 2px;
	height: 100vh;
}

.rendering {
	width: 70%;
}

.details {
	width: 30%;
	background-color: #000;
	color: white;
	padding: 0.7%;
	gap: 10px
}

.buttons {
	display: flex;
	justify-content: space-around;
}

.info {
	border-radius: 20px;
	border: 2px white solid;
	height: 70%;
	padding: 5% 2%;

}
